.bg-lightblue {
    background-color: #dff4ff;
  }
  
  .bg-darkblue {
    background-color: #1e486d;
  }
  
  .text-box {
    z-index: 2;
  }
  
  .woman-img {
    bottom: 0;
    right: 0;
    height: 90%;
    z-index: 1;
    object-fit: contain;
    position: absolute;
  }
  